* {
    box-sizing: border-box;
}

.grid {
    border: 2px solid black;
    max-width: 720px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    aspect-ratio: 1;
    border: 2px solid grey;
}

.button {
    display: block;
    margin: 10px auto;
}